.App {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
body {
  font-size: 16px;
}

textarea {
  font-size: 16px;
}
.active {
  color: white;
  background-color: rgb(88, 79, 209);
  border-radius: 10px;
}

.content-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 1100px;
  height: auto;
  padding: 0.5rem calc((100vw - 1200px) / 2);
}

.lef-col {
  width: 15%;
  display: flex;
  flex-flow: column nowrap;
  padding:32px 0px 32px 8px;
  background-color: rgb(191, 199, 243);
  border: 2px solid;
}

.right-col {
  width: 85%;
  padding:8px 16px ;
  float: right;
  border: 2px solid;
  align-items: center;
  
}

.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.text {
  width: 300px;
  height: 300px;
}


.label {
  display: block;
  padding: 12px 12px 0 16px;
  border-right: 1px solid #e3e8ec;
  color: #90999e;
  align-self: center;
  text-transform: uppercase;
}


.field {
  display: flex;
  position: relative;
  flex-direction: column;
  border-bottom: 1px solid #e3e8ec;
  min-height: 57px;
  width: 100%;
}

.field-number__field {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.field-number__down {
  width: 32px;
  height: 46px;
  /* background-color: rgb(191, 199, 243); */
}

.field-number__up {
  width: 32px;
  height: 46px;
  /* background-color: rgb(191, 199, 243); */

}

.field-number__value {
  width: 100%;
  height: 46px;
  text-align: center;
}

.convert__content {
  display: grid;
  grid-template-columns: 150px 150px;
  position: relative;
  padding: 16px;
}

.field--first {
  margin-right: 100px;
}

.btn-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 57px;
  justify-content: center;
  padding-top: 50px;
}

/* vigenere */
.container > .col-3 {
  display: flex;
  flex: 1 1 30%;
  flex-flow: row wrap;
  width: auto;
  justify-content: space-around;
}

.cipher__content {
  display: flex;
  flex-flow: column wrap;
  width: auto;
}

#vigenere_key {
  height: 50px;
  font-size: 16px;
  margin-left: 20px;
}

.label-key {
  width: 100%;
  text-align: center;
  padding-top: 13px;
}

.key_shift {
  border: 2px solid black;
  width: 124px;
  height: 39px;
  border-radius: 10px;
  text-align: center;
  align-self: center;

  font-size: 24px;
}

.btn-encrypt {
  margin-right: 12px;
}

.btn-decrypt {
  margin-left: 12px;
}

.transposition {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-transposition {
  position: relative;
}

.field-transposition {
  left: 50px;
}

.input-hill {
  width: 100%;
  height: 30px;
  position: relative;
}


.btn-hill {
  left: 25px;
}

.container {
  margin: auto;
}

.btn {
  width: 57px;
  height: 57px;
  margin-right: 15px;
  margin-left: 15px;
}

.dark {
  color: #fff;
  background-color: #333;
}

.light {
  color: #333;
  background-color: #fff;
}

.api-data {
  display: flex;
  justify-content: center;
  flex-direction: column;
}